# Dependency tools
package-lock.json
yarn.lock

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output
tests_output

# Dependency directory
node_modules

# Build artefacts
dist

# Doc generation
docs

# Deployment files
.npmrc

# Editor files
.vscode
