# Logs
logs
*.log
npm-debug.log*
package-lock.json
yarn.lock

# Coverage directory used by tools like istanbul
coverage
.nyc_output
tests_output
cache
.cache
.parcel-cache

# Dependency directory
node_modules

# Build artefacts
dist
build
bundle.js
tsconfig-types.aegir.json
.tsbuildinfo

# Deployment files
.npmrc

# Editor files
.vscode

# Operating system files
.DS_Store
