* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to bottom,#041727 0%,#062b3f 100%);
  pointer-events: auto;
}

.dragover-popup {
  position: absolute;
  top: 10px; right: 10px; bottom: 10px; left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 30%;
  display: none;
  pointer-events: none;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  /* filter: blur(5px); */
}

.header {
  text-align: center;
  /* filter: blur(5px); */
}

#filesStatus {
  padding: 10px;
}

h1, h2, h3 {
  margin: 0px;
}

h1 {
  font-size: 2em;
  font-weight: 300;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.0em;
  font-weight: 700;
}


.header h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
  font-size: 0.8em;
}

.error {
  font-style: italic;
  color: red;
}

.ipfs {
  padding-bottom: 50px;
  border-radius: 1px;
}

#details {
  padding: 10px;
  width: 100%;
}

ul {
  margin: 0px; padding: 0px;
  list-style: none;
  font-size: 11px;
}

ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 9px;
  word-wrap: break-word;
}

button {
  background-color: rgba(0,0,0,0.2);
  color: #6acad1;
  border: 2px solid #6acad1;
  font-size: 15px;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
  margin: 5px;
}

.multihash-wrapper input {
  width: 80%;
  float: left;
  height: 40px;
  margin-left: 1%;
  font-size: 16px;
}

.multihash-wrapper button {
  width: 17%;
  float: left;
  height: 40px;
  margin: 0px;
  margin-left: 1%;
}

.file-list {
  display: block;
  margin: 10px;
}

.file-list a {
  font-size: 16px;
  color: white;
  display: block;
}

button.connect-peer {
  margin: 0px;
  margin-top: 2px;
  width: 100%;
}

button:hover {
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.address {
  font-family: monospace
}

.disabled,
input:disabled,
button:disabled {
  opacity: 0.2;
}

input {
  width: 100%;
  border: 2px solid #444;
  color: black;
  padding: 7px;
  border-radius: 2px;
  font-size: 9px;
}

textarea, input, button {
  outline: none;
}

button:focus, input:focus {
  outline: 3px solid #6acad1;
}

.left, .right {
  width: 48%;
  float: left;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1%;
  padding: 10px;
}

#files {
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 1%;
}

.left.centered {
  float: none;
  margin: 0px auto;
  text-align: center;
}

.clear {
  clear: both;
}

.note {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  font-size: 10px;
}

#peers i {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.error {
  font-size: 18px;
}
