body {
  height: 100vh;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(to bottom,#041727 0%,#062b3f 100%);
}

.id {
  margin-top: 30px;
  font-size: 14px;
}

.id strong {
  font-size: 17px;
}

#restart {
  position: absolute;
  top: 20px;
  right: 20px;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0em;
}

h2 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 1.0em;
  font-weight: 700;
}

p {
  font-size: 17px;
}

.center {
  text-align: center;
}

label {
  margin-right: 1em;
}

input {
  margin-right: 1em;  
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
  font-size: 0.8em;
}

.error {
  font-style: italic;
  color: red;
}

.wrapper {
  position: relative;
  margin: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
}

.introduction {
  width: 70%;
  margin: 0px auto;
  text-align: center;
}

.on-off-button {
	position: absolute;
	top: 10px;
	right: 10px;
}

#directory {
	text-align: center;
}

#directory .group {
	margin: 30px;
}

#directory label {
  font-size: 18px;
  display: block;
}

textarea, input, button {
  outline: none;
}

button:focus, input:focus {
  outline: 5px solid #6acad1;
}

#peers {
  margin: 10px;
  text-align: left;
  font-size: 14px;
  word-break: break-all;
}

.peer-item {
  margin-bottom: 15px;
}

#logo-link {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  overflow: hidden;
}

.button {
  background-color: rgba(0,0,0,0.2);
  color: #6acad1;
  border: 2px solid #6acad1;
  font-size: 15px;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
}

button:hover {
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

#directory input {
  width: 70%;
  font-size: 16px;
  border: 2px solid #444;
  color: black;
  padding: 10px;
  border-radius: 2px;
  font-family: monospace;
}

.group-item {
  display: inline;
  line-height: 30px;
}
