# Checks bundlesize, does not run on master
on:
  pull_request:
    branches:
      - '*'

name: Bundlesize
jobs:
  check:
    runs-on: ubuntu-latest # https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu1804-README.md
    strategy:
      matrix:
        project:
          - packages/ipfs-core-utils
          - packages/ipfs-core
          - packages/ipfs-http-client
          - packages/ipfs
          - packages/ipfs-message-port-client
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - name: Bundlesize ${{ matrix.project }}
        uses: ipfs/aegir/actions/bundle-size@feat/remove-webpack-karma
        with:
          project: ${{ matrix.project }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
